/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23-jun-2021, 13:47:16
    Author     : Usuario
*/


.product-name {
    color: black;
    font-weight: 700;
}

.product-grid-item-content {
    border: 5px ;
    text-align: center;
    line-height: 1.8;
    border-radius: 50px;
}

.product-description {
    color: black;
    font-weight: 300;
}

.img {
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 20px;
}

.product-grid-item-bottom {
    margin: 20px;
    color: black;
    font-weight: 700;
    font-size: 20px;
}
.botton{
    float: right;
}

.product-grid-item-bottom-g {
    margin: 20px;
    color: black;
    font-weight: 700;
    font-size: 20px;
}

.in-stock{
    border-radius: 8px;
    margin-left:80px;
    padding: 5px;
    font-weight: 700;
    float: right;
    background-color: #c8e6c9;
    color: #256029;
}
.out-of-stock{
    border-radius: 8px;
    margin-left:80px;
    padding: 5px;
    font-weight: 700;
    float: right;
    background-color: #ffcdd2;
    color: #c63737;
}
.low-stock{
    border-radius: 8px;
    margin-left:80px;
    padding: 5px;
    font-weight: 700;
    float: right;
    background-color: #feedaf;
    color:  #8a5340;
}

.x{
    margin: 20px;
    color: black;
    font-weight: 500;
    font-size: 20px;
}

.spiner{
    width:100px;
    float: right;
}

